<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<p><%=thisArticle[0].time%></p>

<form class="form-horizontal" role="form" action="/leaveWord" method="post" onsubmit='return checkForm()'>
    <div class="form-group">
        <label for="content" class="col-sm-3 control-label">内容</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="content" placeholder="请输入内容" name="content" onblur="firstPoint()">
            <span id="point_1" style="height: 20px;width: 40%;border: 1px solid black;display: block"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">邮箱</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="email" placeholder="请输入邮箱" name="email" onblur="secondPoint()">
            <span id="point_2" style="height: 20px;width: 40%;border: 1px solid black;display: block"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">发表</button>
</form>
</body>
<script src="../public/modules/jquery-3.3.1.min.js"></script>
<script src="../public/modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    // function checkForm(){
    //     var flag;
    //     if($('#content').value === ''){
    //         flag = false;
    //     }if($('#email').value === ''){
    //
    //     }
    //     // return true;
    // }
    // $('#content').blur(function () {
    //     if($(this).value === ''){
    //         $('#point_1').innerText = '评论内容不能为空';
    //         // $('#point_1').style.color = 'red';
    //     }
    // })
    function firstPoint() {
        // console.log($(this));
        // console.log(this);
        console.log($('#content').val());  // val是有jQuery插件时用的
    }
</script>
</html>