<!DOCTYPE html>
<html lang="en" style="height: 100%;overflow: hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qiyao's Blog</title>
    <link href="../public/modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <link rel="stylesheet" href="../public/stylesheets/global.css">
    <link rel="stylesheet" href="../public/modules/jquery.pagination.css">
</head>
<body style="height: 100%">
<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--移动端折叠选项的按钮-->
            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <div>
                    <a class="brand-logo"><img src="../public/images/blackLogo.png"></a>
                    <a class="brand-name" data-toggle="modal" data-target="#myLogin">QiYao's Blog</a></div>
            </div>
        </div>
        <div id="menu" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">我的首页</a></li>
                <li class="active"><a href="#">技术博客</a></li>
                <li><a href="#">作品展示</a></li>
                <li><a href="#">资源下载</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 模态框（Modal） -->
<div class="modal fade text-center" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myLoginLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block;width: auto;">
        <div class="modal-content login-box">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel">管理员登陆</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="/manageIndex" method="post">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">账号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="请输入账号" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" placeholder="请输入密码"
                                   name="password">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary btn-sm">登陆</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div style="background-color: darkseagreen;height: 100%;width: 100%" id="content">
    <% for (var i in articleList){%>
    <%=articleList[i].id%>
    <%}%>

</div>
<!--分页框-->
<div class="pagination" id="pagination" >
</div>
<script src="../public/modules/jquery-3.3.1.min.js"></script>
<script src="../public/modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../public/modules/jquery.pagination.min.js"></script>
<script src="../public/modules/template-web.js"></script>
<!--<script src="../public/javascripts/index.js"></script>-->
<script>
    $(".pagination").pagination({
        currentPage: parseInt('<%=currentPage%>'),   // 当前页
        // totalPage: Math.ceil(res.length / 4), //总页数
        totalPage: parseInt('<%=totalPage%>'),
        isShow: true, //是否显示
        count: '<%=totalPage%>' < 5 ? '<%=totalPage%>' : 5, // 每次显示的页码数
        coping: true,
        homePageText: "首页",
        endPageText: "尾页",
        prevPageText: "上一页",
        nextPageText: "下一页",
        callback: function (tempPage) {
            console.log(tempPage);
            $.ajax({
                url: '/showArticle?' + "page=" + tempPage,
                type: 'GET',
                dataType: 'JSON',
                // data: {
                //     page: tempPage
                // },
                success: function (res) {
                    // res.articleList.tag = res.articleList.tag.split(',');
                    // console.log(res.articleList.tag);
                    var context = {article: res.articleList};
                    var html = template('model', context);
                    $('#content').html(html);
                    console.log(res);
                },
                error:function (res) {
                    console.log("失败了");
                    console.log(res.code);
                },
                complete:function (res) {
                    console.log("完成了");
                }
            })
        }
    });
</script>
<script type="text/template" id="model">
    {{each article item index}}
        <p>{{item.id}}</p>
    {{/each}}
</script>
</body>
</html>