/*模态框样式*/
.login-box {
    border-top: 7px solid #337AB7;
}
#myLogin{
    z-index: 10000;
}


/*按钮样式*/
.btn {
    padding: 6px 10px;
}

.container {
    margin-top: 10px;
}

.fp-tableCell {
    display: flex !important;
    flex-direction: column;
    align-items: center; /*子元素垂直居中*/
    justify-content: center;
}

/*tags*/

.tags {
    /*margin: 0 auto;*/
    list-style: none;
    padding: 0;
    width: 53%;
    text-align: center;
    /*position: relative;*/
    /*top: 40%;*/
    /*border: 1px solid black;*/
}

.tag {
    color: #737373;
    background: #cccccc;
    -moz-box-shadow: 0 4px 0 0 #b3b3b3, 4px 4px 0 0 #b3b3b3;
    -webkit-box-shadow: 0 4px 0 0 #b3b3b3, 4px 4px 0 0 #b3b3b3;
    box-shadow: 0 4px 0 0 #b3b3b3, 4px 4px 0 0 #b3b3b3;
    display: inline-block;
    font: normal normal normal 14px/12px 'Open Sans', sans-serif;
    height: 30px;
    margin: 1rem 2rem 1rem 0;
    padding: 1rem 2.8rem 1rem 2rem;
    position: relative;
    top: 0;
    content: "";
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;
    border: 0 solid transparent;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*round*/
    -moz-border-radius: 4px 1px 1px 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 1px 1px 4px;
}

.tag:before {
    color: rgba(255, 255, 255, 0.9);
    background: #cccccc;
    -moz-box-shadow: 0 4px 0 0 #b3b3b3;
    -webkit-box-shadow: 0 4px 0 0 #b3b3b3;
    box-shadow: 0 4px 0 0 #b3b3b3;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    right: -12px;
    z-index: 1;
    content: "";
    cursor: pointer;
    -moz-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -o-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*round*/
    -moz-border-radius: 1px 1px 4px;
    -webkit-border-radius: 1px;
    border-radius: 1px 1px 4px;
}

.tag:after {
    display: inline-block;
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 0 0 #b3b3b3 inset;
    -webkit-box-shadow: 3px 3px 0 0 #b3b3b3 inset;
    box-shadow: 3px 3px 0 0 #b3b3b3 inset;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 2;
    content: "";
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tag span {
    position: relative;
    z-index: 2;
}

/* Rounded Tag */
/*.tag-round {*/
/*-moz-border-radius: 4px 1px 1px 4px;*/
/*-webkit-border-radius: 4px;*/
/*border-radius: 4px 1px 1px 4px;*/
/*}*/
/*.tag-first:before {*/
/*-moz-border-radius: 1px 1px 4px;*/
/*-webkit-border-radius: 1px;*/
/*border-radius: 1px 1px 4px;*/
/*}*/

@keyframes bounce {
    0%,30%,60%,90%,100%{
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0%{
        transform: translate3d(-3000px,-3000px,0);
    }
    30%{
        transform: translate3d(0,100px,0);
    }
    60%{
        transform: translate3d(0,-68px,0);
    }
    80%{
        transform: translate3d(0,68px,0);
    }
    90%{
        transform: translate3d(0,-50px,0);
    }
    100%{
        transform: translate3d(0,50px,0);

    }
}
@keyframes shake {
    0% {
        opacity: 0;
        transform: translate3d(3000px,-3000px,0);
    }
    50%{
        opacity: 1;
        transform:rotate(360deg);
    }
    100% {
        opacity: 1;
        transform:rotate(-360deg) translate3d(0,0,0);
    }
}

.intro{
    font-weight: bolder;
}
.aboutMe{
    /*opacity: 0;*/
    z-index: 100;
    animation: bounce 1.3s cubic-bezier(.1,.25,.1,.25) forwards ;
    /*animation: fromRightBottom 0.8s 0.8s linear forwards;*/
}
.icon{
    opacity: 0;
    margin-left: 35px;
    animation: bounce 1.3s cubic-bezier(.1,.25,.1,.25) forwards , shake 1s 0.8s cubic-bezier(.1,.25,.1,.25) forwards;
}
.tag:nth-child(2n+1) {
    opacity: 0;
    animation: fromRight 0.8s 2s linear forwards;
}

.tag:nth-child(2n) {
    opacity: 0;
    animation: fromLeft 0.8s 3s linear forwards;
}
.tag:nth-child(3n){
    animation: fromRightBottom 0.5s 3.5s linear forwards;
}

.find-more{
    position: absolute;
    bottom: 3px;
    /*left: 50%;*/
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    animation: findmore .5s ease-in-out alternate infinite;
    opacity: 0.5;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out .2s;
}

@keyframes findmore {
    100% {
        bottom: 7px
    }
}



/*分页框样式*/
.pagination{
    display: block;
    position: absolute;
    bottom: 1%;
    width: 100%;
    /*left: 10%;*/
    /*background-color: yellow;*/
    text-align:center;
}


#content{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;

}

.article-item{
    background-color: #e7c3c3;
    width: 40%;
}