*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container .left-col {
    background: pink;
    width: 300px;
    position: fixed;
    opacity: 1;
    transition: all 0.2s ease-in;
    height: 100%;
}
#container .mid-col {
    position: absolute;
    right: 0;
    min-height: 100%;
    background: #eaeaea;
    left: 300px;
    width: auto;
}
@media screen and (max-width: 800px){
    #container .left-col {
        display: none;
    }
    #container .mid-col {
        left: 0;
    }
    #container .slider-trigger {
        position: absolute;
        z-index: 101;
        bottom: 0;
        left: 0;
        width: 42px;
        height: 42px;
    }
    #container .slider-trigger:before {
        color: #ddd;
        content: "\f00b";
        font: 16px FontAwesome;
        width: 16px;
        height: 16px;
        margin-left: 9px;
        margin-top: 14px;
        display: block;
    }
}
