<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <link href="../../public/modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/stylesheets/manager-index.css">
</head>
<body>
<!--<nav class="nav navbar-inverse navbar-left" style="background-color: #2aabd2;width: 30%;height: 100%">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;移动端折叠选项的按钮&ndash;&gt;-->
            <!--<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div id="menu" class="collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">我的首页</a></li>-->
                <!--<li><a href="#">技术博客</a></li>-->
                <!--<li><a href="#">作品展示</a></li>-->
                <!--<li><a href="#">资源下载</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<nav class="nav navbar-inverse navbar-left collapse" id='nav' style="background-color: #2aabd2;width: 30%;height: 100%"></nav>
<div class="content">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
    <script src="../../public/modules/jquery-3.3.1.min.js"></script>
    <script src="../../public/modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>