<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <link href="../../public/modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/stylesheets/manager-index.css">
</head>
<body>
    <div class="container-fluid screen">
        <ul>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10">
                <h4>用户动态</h4>
            </li>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10">
                <h4>管理文章</h4>
            </li>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10">

            </li>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10"></li>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10"></li>
            <li class="col-lg-5 col-sm-10 col-md-5 col-xs-10"></li>
        </ul>
    </div>
    <script src="../../public/modules/jquery-3.3.1.min.js"></script>
    <script src="../../public/modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>