<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../../public/modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/stylesheets/manager-index.css">
    <!--<link rel="stylesheet" href="../../public/stylesheets/global.css">-->
</head>
<body>
<div class="left-nav" id="left-nav">
    <a href="#" class="info-close" id="close"></a>
    <div class="nav-content">
        <div class="pic"><img src="../../public/images/me.png"></div>
        <div class="disc">
            <h3>Qiyao</h3>
            <p>每一个不曾起舞的日子都是对生命的辜负</p>
            <div class="my-home">
                <a href="#"></a>
            </div>
        </div>
        <ul class="items">
            <li class="item"><a href="#" class="item-name active">访客动态</a></li>
            <li class="item"><a href="#" class="item-name">我的文章</a></li>
            <li class="item"><a href="#" class="item-name">作品展示</a></li>
            <li class="item"><a href="#" class="item-name">资源下载</a></li>
        </ul>
    </div>
</div>
<div class="content-box">
    <button class="navbar-toggle" id="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div id="status" class="content show">
        <p>1</p>
    </div>
    <div id="articles" class="content">
        <button class="btn btn-default write-article"><a href="/toEdit">添加</a></button>
        <div id="article-list"></div>
    </div>
    <div id="works" class="content">
        <p>3</p>
    </div>
    <div id="source" class="content">
        <p>4</p>
    </div>
</div>
<script src="../../public/modules/jquery-3.3.1.min.js"></script>
<script src="../../public/modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../../public/javascripts/manage.js"></script>
<script src="../../public/modules/template-web.js"></script>
<script type="text/template" id="model">
    {{each article}}
    <p>{{$value.title}}</p>
    <p>{{$value.tag}}</p>
    <p>{{@($value.content)}}</p>
    <p>{{$value.time}}</p>
    {{/each}}
</script>
</body>
</html>